mat-toolbar mat-icon {
    padding: 0 1rem;
}

mat-card {
    height: 100%;
    border-radius: 0;
    box-sizing: border-box;
}

.spacer {
    display: flex;
    background-color: white;
    height: 1rem;
    width: 100%;
}

::ng-deep .no-margin .mat-card-header-text {
    margin: 0;
}

::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0 !important;
}

::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
    background: inherit;
}

::ng-deep .mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.87)
}


.full-width {
    width: 100%;
}

mat-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-card-title.fixed-height-5 {
    height: 5rem;
}

mat-card-content.fixed-height {
    height: calc(100% - 5rem);
    padding: 0, 1rem, 1rem, 1rem;
}

img {
    max-width: auto;
    height: 100%;
}

mat-card-title.fixed-height {
    height: 2.25rem;
}

// TODO - Make the tab header fixed
// Experiencing issues on IOS devices to position the tab header outside of the scroll view
// ::ng-deep mat-tab-header {
//     position: fixed !important;
//     margin-top: -3rem !important;
//     width: 100% !important;
//     z-index: 3 !important;
//     box-sizing: border-box !important;
// }

// ::ng-deep mat-sidenav-content {
//     position: relative !important;
//     height: calc(100% - 3rem) !important;
//     width: 100% !important;
//     top: calc(3rem + 1px) !important;
//     box-sizing: border-box !important;
// }

::ng-deep ngp-image-picker .icon-btn.image-upload-btn {
    background: none;
}